.modal {
  border: 2px solid #2b303a;
  border-radius: 10px;
  width: 50%;
  transform: translate(50%);
  margin-top: 1em;
  margin-bottom: 1em;
}

@media only screen and (max-width: 780px) {
  .modal-content {
    font-size: small;
  }
}

@media only screen and (max-width: 480px) {
  .modal-content {
    font-size: x-small;
  }
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: #2b303a;
  cursor: pointer;
}

#lists {
  text-align: left;
}
