.link {
  border-radius: 5px;
  width: 30%;
  outline: none;
  color: #f4ebe8;
  transition: ease-in-out 0.5s;
  border: none;
  background: #7c7c7c;
  font-weight: 100;
  font-size: small;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
}

.link:hover {
  background: #2b303a;
  transition: ease-in-out 0.5s;
  font-weight: 200;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px #2b303a;
  -moz-box-shadow: 0px 5px 40px -10px #2b303a;
}

@media only screen and (max-width: 780px) {
  .link:hover {
    font-weight: 100;
    letter-spacing: normal;
  }
}
